<a 
style="cursor: pointer;border-radius: 10px;" 
[routerLink]="[index]" 
routerLinkActive="active" 
class="list-group-item clearfix m-2">
  <div class="row">
    <div class="col-9">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text">{{ recipe.description }}</p>

    </div>
    <div class="col-3">
      <span>
        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 65px;">
      </span>
    </div>
  </div>
</a>